<style type="text/css">
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background-color: #4CAF50;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
a:hover{
  text-decoration:none; 
}
p {
  padding-left: 20px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  
  strong {
    font-size: 18px;
  }
  
  a {
    color: #30c5fb;
  }
}
.contact-img {
    padding-right: 10px;
    
  }
</style>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
          var getCountryPath = window.location.host.split(".")[0];
          /*var getCountryPath="";*/
          if(getCountryPath == "in"){
            
              $("li").removeClass("active");
              $("li > a[href='#india']").parent().addClass("active");
              $("#india").addClass("active"); 
              $("#india").trigger("click");
            }
            if(getCountryPath == "qa"){
              $("li").removeClass("active");
              $("li > a[href='#qatar']").parent().addClass("active");
              $("#qatar").addClass("active");
              $("#qatar").trigger("click");
            }
            if(getCountryPath == "om"){
              $("li").removeClass("active");
              $("li > a[href='#oman']").parent().addClass("active");
              $("#oman").addClass("active");
              $("#oman").trigger("click");
            }
            if(getCountryPath == "uae"){
              $("li").removeClass("active");
              $("li > a[href='#uae']").parent().addClass("active");
              $("#uae").addClass("active");
              $("#uae").trigger("click");
            }
            var hide = function (elem) {
            elem.classList.remove('is-visible');
        };
    });
  </script>
<div class="row" style="min-height:300px;">
  <h3>Contact Us</h3>
  <hr/>
  <div class="col-xs-2">
      <ul class="nav nav-tabs tabs-left">
        <li><a href="#qatar" data-toggle="tab">Qatar</a></li>
        <li><a href="#india" data-toggle="tab">India</a></li>
        <li><a href="#oman" data-toggle="tab">Oman</a></li>
        <li><a href="#uae" data-toggle="tab">UAE</a></li>
      </ul>
  </div>
  <div class="col-xs-10">
    <div class="tab-content">
      <div class="tab-pane" id="qatar">
          <h3>Qatar</h3>
            <p>ChemTech <br>
                12, Aziziya Commercial Building, <br>
                Al Azizya, <br>
                Doha<br>
                <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://00974. 44 65 1234">00974. 44 65 1234</a>
            </p>
        <div id="1" class="col-sm-6">
          <div class="row">
          <div style="height: 200">
            <table>
              <tr>
                <td width="25%">
                  <img class="contact-img" src="/assets/shopchemical/images/Surej.png" alt=".com logo" />
                </td>
                <td style="border-left: 1px solid #30c5fb;" width="75%">
                  <p style="padding-bottom: 10px;">
                    <strong style="color: #333333">Surej</strong>
                    <br/>
                    <span style="color: #30c5fb">Business Development Manager</span>
                  </p>
                  <p class="data-row">
                   <a href="tel:30074008;">
                      <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 44627333</a>
                  </p>
                  <p class="data-row">
                   <a href="tel:44627333;">
                      <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 44627333
                    </a>
                  </p>
                  
                  <p class="data-row">
                    <a href="mailto:surej@chemma.com">
                       <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                      surej@chemma.com
                    </a>
                  </p>
                  <p class="data-row">
                    <a href="skype:surejma?chat">
                       <img  src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                      surejma
                    </a> 
                  </p> 
                </td>
              </tr>
            </table>
            </div><br>
             <div style="height: 200">
            <table>
              <tr>
                <td width="25%">
                  <a  href="http://czerasz.com/">
                  <img class="contact-img"  src="/assets/shopchemical/images/MohammedAli.png"  alt=".com logo" />
                  </a>
                </td>
                <td style="border-left: 1px solid #30c5fb;" width="75%">
                  <p style="padding-bottom: 10px;">
                    <strong style="color: #333333">Mohammed Ali</strong>
                    <br/>
                    <span style="color: #30c5fb">Sales Manager</span>
                  </p>
                  <p class="data-row">
                   <a href="tel:+00974 44627311;">
                       <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                         +00974 44627311 
                    </a>
                  </p>
                  <p class="data-row">
                   <a href="tel:+00974 30211011;">
                      <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                       +00974 30211011
                    </a>
                  </p>
                  
                  <p class="data-row">
                    <a href="mailto:mohammed.ali@chemma.com">
                     <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                      mohammed.ali@chemma.com 
                    </a>
                  </p>
                  <p class="data-row">
                    <a href="skype:mohammed.chemtech?chat">
                       <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                      mohammed.chemtech
                    </a> 
                  </p> 
                </td>
              </tr>
            </table>
            </div><br>
             <div style="height: 200">
            <table>
              <tr>
                <td width="25%">
                  <img src="/assets/shopchemical/images/Habtom.png"  alt=".com logo" class="contact-img"/>
                </td>
                <td style="border-left: 1px solid #30c5fb;" width="75%">
                  <p style="padding-bottom: 5px;">
                    <strong style="color: #333333">Habtom</strong>
                    <br/>
                    <span style="color: #30c5fb">Sales manager Industrial Chemical</span>
                  </p>
                  <p class="data-row">
                   <a href="tel:+00974 44627321;">
                     <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                       +00974 44627321 
                    </a>
                  </p>
                  <p class="data-row">
                   <a href="tel:+00974 30211021;">
                      <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                       +00974 30211021
                    </a>
                  </p>
                  
                  <p class="data-row">
                    <a href="mailto:tom@chemma.com">
                     <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                      tom@chemma.com
                    </a>
                  </p>
                  <p class="data-row">
                    <a href="skype:tom.chemtech?chat">
                       <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                      tom.chemtech
                    </a> 
                  </p> 
                </td>
              </tr>
            </table>
            </div><br>
             <div style="height: 200">
            <table>
                <tr>
                  <td width="25%">
                    <img class="contact-img"  src="/assets/shopchemical/images/shopchemical.png"  alt=".com logo" />
                  </td>
                  <td style="border-left: 1px solid #30c5fb;" width="75%">
                    <p style="padding-bottom: 10px;">
                      <strong style="color: #333333">Riyas</strong>
                      <br/>
                      <span style="color: #30c5fb">sales Manager (medial related)</span>
                    </p>
                    <p class="data-row">
                     <a href="tel:+00974 44627370;">
                       <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                         +00974 44627370; 
                      </a>
                    </p>
                    <p class="data-row">
                     <a href="tel:+00974 30211008;">
                      <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> +00974 30211008 
                    </a>
                    </p>
                    
                    <p class="data-row">
                      <a href="mailto:rr@chemma.com">
                       <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                        rr@chemma.com
                      </a>
                    </p>
                    
                  </td>
                </tr>
              </table>
              </div>
              <br>
               <div style="height: 200">
              <table>
                  <tr>
                    <td width="25%">
                      <img class="contact-img"  src="/assets/shopchemical/images/Ram.png"  alt=".com logo" />
                    </td>
                    <td style="border-left: 1px solid #30c5fb;" width="75%">
                      <p style="padding-bottom: 10px;">
                        <strong style="color: #333333">Ram kumar</strong>
                        <br/>
                        <span style="color: #30c5fb">Disposal</span>
                      </p>
                      
                      <p class="data-row">
                       <a href="tel:+00974 30211003;">
                          <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                          +00974 30211003
                        </a>
                      </p>
                      
                      <p class="data-row">
                        <a href="mailto:disposal@chemma.com">
                         <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                          disposal@chemma.com 
                        </a>
                      </p>
                      <p class="data-row">
                        <a href="skype:ram.chemtech1?chat">
                           <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                          ram.chemtech1
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>
                </div>
                </div>
              </div>   
              <div id="1" class="col-sm-6">
                <div class="row">
                 <div style="height: 200">
                    <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img"  src="/assets/shopchemical/images/Radhika.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Radhika</strong>
                            <br/>
                            <span style="color: #30c5fb">Chief Accountant</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:+00974 44627339;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              +00974 44627339 
                            </a>
                          </p>
                          
                          <p class="data-row">
                            <a href="mailto:accounts@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                accounts@chemma.com
                              </a>     
                          </p>
                          <p class="data-row">
                            <a href="skype:radhika.hari9?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              radhika.hari9
                            </a>       
                          </p>
                        </td>
                      </tr>
                    </table>
                    </div>
                    <br>
                 <div style="height: 200">
                  <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/Dona.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Dona</strong>
                            <br/>
                            <span style="color: #30c5fb">Sales support</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:+00974 44627340;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                                +00974 44627340;
                            </a>
                          </p>
                          <p class="data-row">
                            <a href="mailto:ak@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              ak@chemma.com
                            </a>
                          </p>
                          <p class="data-row">
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              nh@chemma.com
                            </a> 
                          </p>
                        </td>
                      </tr>
                    </table>
                    </div>
                    <br>
                     <div style="height: 200">
                  <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img"  src="/assets/shopchemical/images/Shaima.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Shaima</strong>
                            <br/>
                            <span style="color: #30c5fb">Sales support</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:+00974 44627338;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                               +00974 44627338 
                            </a>
                          </p>
                          
                          <p class="data-row">
                            <a href="mailto:an@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              an@chemma.com 
                            </a>      
                          </p>
                          <p class="data-row">
                            <a href="skype:live:an_2429?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              an_2429
                            </a>  
                          </p>
                        </td>
                      </tr>
                    </table>
                    </div>
                    <br>
                     <div style="height: 200">
                    <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/Jyotsana.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Jyotsana</strong>
                            <br/>
                            <span style="color: #30c5fb">Sales support</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:+00974 44627347;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              +00974 44627347 
                            </a>
                          </p>
                          
                          <p class="data-row">
                            <a href="mailto:rfq@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              rfq@chemma.com 
                            </a>      
                          </p>
                          <p class="data-row">
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              jyotsana.chemtech
                            </a>   
                          </p>
                        </td>
                      </tr>
                    </table>
                    </div>
                    <br>
                     <div style="height: 200">
                    <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/shopchemical.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Faraz</strong>
                            <br/>
                            <span style="color: #30c5fb">Procurment  Manager</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:+00974 44627304;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              +00974 44627304 
                            </a>
                          </p>
                          
                          <p class="data-row">
                            <a href="mailto:procurement@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              procurement@chemma.com
                            </a>     
                          </p>
                          <p class="data-row">
                            <a href="skype:faraz_chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              faraz_chemtech
                            </a>       
                          </p>
                        </td>
                      </tr>
                    </table>
                    </div>
                    <br>
                     <div style="height: 200">
                    <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/shopchemical.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Keshav Giri</strong>
                            <br/>
                            <span style="color: #30c5fb">Transport Division</span>
                          </p>
                          
                        </td>
                      </tr>
                    </table>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="india">
                <h3>India</h3>
                <p>ChemTech <br>
                    310, Nehru Palace Building, <br>
                    Bank junction, <br>
                    Aluva, <br>
                    Kerala<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://0484 2985555">0484 29855554</a>
                 </p>

              <div id="1" class="col-sm-6">
                <div class="row">
                  <table>
                    <tr>
                      <td width="25%">
                        <img class="contact-img" src="/assets/shopchemical/images/Surej.png"  alt=".com logo"/>
                      </td>
                      <td style="border-left: 1px solid #30c5fb;" width="75%">
                        <p style="padding-bottom: 10px;">
                          <strong style="color: #333333">Surej</strong>
                          <br/>
                          <span style="color: #30c5fb">Business Development Manager - Qatar</span>
                        </p>
                        
                        <p class="data-row">
                         <a href="tel:484-2985555;">
                            <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 484-2985555
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="tel:8330078910;">
                            <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 8330078910
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="mailto:ak@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                            ak@chemma.com
                          </a>    
                        </p>
                        <p class="data-row">
                         <a href="skype:surejma?chat">
                             <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                            surejma
                          </a>
                        </p>  
                        </td>
                      </tr>
                  </table>
                  <br>
                  <table>
                    <tr>
                      <td width="25%">
                        <img class="contact-img" src="/assets/shopchemical/images/Sherif.png"  alt=".com logo" />
                      </td>
                      <td style="border-left: 1px solid #30c5fb;" width="75%">
                        <p style="padding-bottom: 10px;">
                          <strong style="color: #333333">Sherif</strong>
                          <br/>
                          <span style="color: #30c5fb">Business Development Manager -UAE</span>
                        </p>
                        
                        <p class="data-row">
                         <a href="sherif@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                            sherif@chemma.com
                          </a>
                        </p> 
                      </td>
                    </tr>
                  </table>
                  <br>
                  <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/Dona.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Dona</strong>
                            <br/>
                            <span style="color: #30c5fb">Sales Manager Industrial Chemical</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="tel:9400978910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 9400978910
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="mailto:an@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              an@chemma.com
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="skype:nh@chemma.com?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              nh@chemma.com
                            </a> 
                          </p> 
                        </td>
                      </tr>
                    </table>
                    <br>
                    <table>
                  <tr>
                    <td width="25%">
                      <img class="contact-img" src="/assets/shopchemical/images/Shaima.png"  alt=".com logo" />
                    </td>
                    <td style="border-left: 1px solid #30c5fb;" width="75%">
                      <p style="padding-bottom: 10px;">
                        <strong style="color: #333333">Shaima</strong>
                        <br/>
                        <span style="color: #30c5fb">Sales Manager lab chemicall</span>
                      </p>
                      
                      <p class="data-row">
                       <a href="tel:0484 298 4010;">
                          <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                        </a>
                      </p>
                      <p class="data-row">
                       <a href="tel:8078981696;">
                          <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 8078981696
                        </a>
                      </p>
                      <p class="data-row">
                       <a href="mailto:rfq@chemma.com">
                           <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                          rfq@chemma.com
                        </a>
                      </p>
                      <p class="data-row">
                       <a href="skype:live:an_2429?chat">
                           <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                           an_2429
                        </a>  
                      </p> 
                    </td>
                  </tr>
                </table>

                </div>
              </div>
              <div id="1" class="col-sm-6">
                <div class="row">
                  <table>
                    <tr>
                      <td width="25%">
                        <img class="contact-img" src="/assets/shopchemical/images/Radhika.png"  alt=".com logo" />
                      </td>
                      <td style="border-left: 1px solid #30c5fb;" width="75%">
                        <p style="padding-bottom: 10px;">
                          <strong style="color: #333333">Radhika</strong>
                          <br/>
                          <span style="color: #30c5fb">Chief Accountant</span>
                        </p>
                        
                        <p class="data-row">
                         <a href="tel:0484 298 4010;">
                            <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="tel:8547080910;">
                            <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 8547080910
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="mailto:accounts@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                            accounts@chemma.com
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="skype:radhika.hari9?chat">
                             <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                            radhika.hari9
                          </a>
                        </p>
                        
                      </td>
                    </tr>
                  </table>
                <br>
                <table>
                  <tr>
                    <td width="25%">
                      <img class="contact-img"  src="/assets/shopchemical/images/Jyotsana.png"  alt=".com logo" />
                    </td>
                    <td style="border-left: 1px solid #30c5fb;" width="75%">
                      <p style="padding-bottom: 10px;">
                        <strong style="color: #333333">Jyotsana</strong>
                        <br/>
                        <span style="color: #30c5fb">Medical Related Items</span>
                      </p>
                      
                      <p class="data-row">
                       <a href="tel:0484 298 4010;">
                          <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                        </a>
                      </p>
                      <p class="data-row">
                       <a href="tel:9846462200;">
                          <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 9846462200
                        </a>
                      </p>
                      <p class="data-row">
                       <a href="skype:jyotsana.chemtech?chat">
                           <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                          jyotsana.chemtech
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>
                <br>
                <table>
                   <tr>
                      <td width="25%">
                        <img class="contact-img" src="/assets/shopchemical/images/Akshay.png"  alt=".com logo" />
                      </td>
                      <td style="border-left: 1px solid #30c5fb;" width="75%">
                        <p style="padding-bottom: 10px;">
                          <strong style="color: #333333">Akshay</strong>
                          <br/>
                          <span style="color: #30c5fb"></span>
                        </p>
                        
                        <p class="data-row">
                         <a href="tel:0484 298 4010;">
                            <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="tel:9497080910;">
                            <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 9497080910
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="mailto:aj@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                            aj@chemma.com
                          </a>
                        </p>
                        <p class="data-row">
                         <a href="skype:live:aj_3376?chat">
                             <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                            live:aj_3376
                          </a>
                        </p>
                        
                      </td>
                    </tr>
                  </table>
                </div>
              </div>  
            </div>
            <div class="tab-pane" id="oman">
                <h3>Oman</h3>
                <p>ChemTech- MPES LLC <br>
                    Plot No. 24, <br>
                    Block No. 252, <br>
                    Steet No.61, Ghala Industrial Area, <br>
                    Muscat<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://968 2450 3385">968 2450 3385</a>
                </p>
              <div id="1" class="col-sm-6">
                <div class="row">
                  <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/shopchemical.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Anju</strong>
                            <br/>
                            <span style="color: #30c5fb">Business Development Manager</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:484-2985555;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 484-2985555
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="tel:8330078910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 8330078910
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="mailto:om@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              om@chemma.com
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="skype:surejma?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              surejma
                            </a>
                          </p>
                          
                        </td>
                      </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                          <td width="25%">
                            <img class="contact-img" src="/assets/shopchemical/images/Dona.png"  alt=".com logo" />
                          </td>
                          <td style="border-left: 1px solid #30c5fb;" width="75%">
                            <p style="padding-bottom: 10px;">
                              <strong style="color: #333333">Dona</strong>
                              <br/>
                              <span style="color: #30c5fb">Sales Manager Industrial Chemical</span>
                            </p>
                            
                            <p class="data-row">
                             <a href="tel:0484 298 4010;">
                                <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="tel:9400978910;">
                                <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 9400978910
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="mailto:nh@chemma.com">
                                 <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                nh@chemma.com
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="skype:nh@chemma.com?chat">
                                 <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                nh@chemma.com
                              </a>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>  
              </div>
              <div id="1" class="col-sm-6">
                <div class="row">
                  <table>
                      <tr>
                        <td width="25%">
                          <img class="contact-img" src="/assets/shopchemical/images/Shaima.png"  alt=".com logo" />
                        </td>
                        <td style="border-left: 1px solid #30c5fb;" width="75%">
                          <p style="padding-bottom: 10px;">
                            <strong style="color: #333333">Shaima</strong>
                            <br/>
                            <span style="color: #30c5fb">Sales Manager lab chemical</span>
                          </p>
                          
                          <p class="data-row">
                           <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="tel:8078981696;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 8078981696
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="mailto:rfq@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              rfq@chemma.com
                            </a>
                          </p>
                          <p class="data-row">
                           <a href="skype:live:an_2429?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                               an_2429
                            </a> 
                          </p>
                          
                        </td>
                      </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                          <td width="25%">
                            <img class="contact-img" src="/assets/shopchemical/images/Jyotsana.png" alt=".com logo" />
                          </td>
                          <td style="border-left: 1px solid #30c5fb;" width="75%">
                            <p style="padding-bottom: 10px;">
                              <strong style="color: #333333">Jyotsana</strong>
                              <br/>
                              <span style="color: #30c5fb">Medical Related Items</span>
                            </p>
                            
                            <p class="data-row">
                             <a href="tel:0484 298 4010;">
                                <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 0484 298 4010
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="tel:9846462200;">
                                <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 9846462200
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="skype:jyotsana.chemtech?chat">
                                 <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                jyotsana.chemtech
                              </a> 
                            </p> 
                          </td>
                        </tr>
                      </table>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="uae">
                <h3>UAE</h3>
                <p>ChemTech <br>
                    21-10, Aspin Tower, <br>
                    Sheikh Zayed Road, <br>
                    Dubai<br>
                    <i class="fa fa-phone" aria-hidden="true"></i><a href="tel://00971.4.269 0770">00971.4.269 0770</a> 
                </p>
                <div id="1" class="col-sm-6">
                    <div class="row">
                      <table>
                          <tr>
                            <td width="25%">
                              <img class="contact-img" src="/assets/shopchemical/images/Sherif.png"  alt=".com logo" />
                            </td>
                            <td style="border-left: 1px solid #30c5fb;" width="75%">
                              <p style="padding-bottom: 10px;">
                                <strong style="color: #333333">Sherif Mohammad</strong>
                                <br/>
                                <span style="color: #30c5fb">Business Development Manager</span>
                              </p>
                              
                              <p class="data-row">
                               <a href="tel:4269 0770 ext 345;">
                                  <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 4269 0770 ext 345
                                </a>
                              </p>
                              <p class="data-row">
                               <a href="tel:562102665;">
                                  <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 562102665
                                </a>
                              </p>
                              <p class="data-row">
                               <a href="mailto:sherif@chemma.com">
                                   <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                  sherif@chemma.com
                                </a> 
                              </p>
                              <p class="data-row">
                               <a href="skype:sherif.chemtech?chat">
                                   <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                  sherif.chemtech
                                </a> 
                              </p>  
                            </td>
                          </tr>
                        </table>
                        <br>
                        <table>
                            <tr>
                              <td width="25%">
                                <img class="contact-img" src="/assets/shopchemical/images/shibu.png"  alt=".com logo" />
                              </td>
                              <td style="border-left: 1px solid #30c5fb;" width="75%">
                                <p style="padding-bottom: 10px;">
                                  <strong style="color: #333333">Shibu</strong>
                                  <br/>
                                  <span style="color: #30c5fb">Sales & Marketing Manager</span>
                                </p>
                                
                                <p class="data-row">
                                 <a href="tel:4269 0770 ext 344;">
                                    <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 4269 0770 ext 344
                                  </a>
                                </p>
                                <p class="data-row">
                                 <a href="tel:562107558;">
                                    <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 562107558
                                  </a>
                                </p>
                                <p class="data-row">
                                 <a href="mailto:sn@chemma.com">
                                     <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                    sn@chemma.com
                                  </a> 
                                </p>
                                <p class="data-row">
                                 <a href="skype:live:7da63a4fdc8b3b5e?chat">
                                     <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                    7da63a4fdc8b3b5e
                                  </a> 
                                </p>  
                              </td>
                            </tr>
                          </table>
                    </div>
                </div>
                <div id="1" class="col-sm-6">
                    <div class="row">
                    <table>
                        <tr>
                          <td width="25%">
                            <img class="contact-img" src="/assets/shopchemical/images/birurai.png"  alt=".com logo" />
                          </td>
                          <td style="border-left: 1px solid #30c5fb;" width="75%">
                            <p style="padding-bottom: 10px;">
                              <strong style="color: #333333">Biru Rai</strong>
                              <br/>
                              <span style="color: #30c5fb">Sales & Marketing Manager</span>
                            </p>
                            
                            <p class="data-row">
                             <a href="tel:4269 0770 ext 342;">
                                <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25"> 4269 0770 ext 342
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="tel:561875007;">
                                <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25"> 561875007
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="mailto:br@chemma.com">
                                 <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                br@chemma.com
                              </a>
                            </p>
                            <p class="data-row">
                             <a href="skype:biru.rai04?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                biru.rai04
                              </a> 
                            </p>  
                          </td>
                        </tr>
                      </table>   
                    </div>
                </div>
            </div>
          </div>
        </div> 
    </div>
  </div>
</div>