<style type="text/css">
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background-color: #4CAF50;
  color: #ffffff;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
a:hover{
  text-decoration:none; 
}
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
          var getCountryPath = window.location.host.split(".")[0];
          /*var getCountryPath="";*/
          if(getCountryPath == "in"){
            
              $("li").removeClass("active");
              $("li > a[href='#india']").parent().addClass("active");
              $("#india").addClass("active"); 
              $("#india").trigger("click");
            }
            if(getCountryPath == "qa"){
              $("li").removeClass("active");
              $("li > a[href='#qatar']").parent().addClass("active");
              $("#qatar").addClass("active");
              $("#qatar").trigger("click");
            }
            if(getCountryPath == "om"){
              $("li").removeClass("active");
              $("li > a[href='#oman']").parent().addClass("active");
              $("#oman").addClass("active");
              $("#oman").trigger("click");
            }
            if(getCountryPath == "uae"){
              $("li").removeClass("active");
              $("li > a[href='#uae']").parent().addClass("active");
              $("#uae").addClass("active");
              $("#uae").trigger("click");
            }
            var hide = function (elem) {
            elem.classList.remove('is-visible');
        };
    });
  </script>
<div class="row" style="min-height:300px;">
  <h3>Contact Us</h3>
    <hr/>
      <div class="col-xs-2">
          <ul class="nav nav-tabs tabs-left">
            <li><a href="#qatar" data-toggle="tab">Qatar</a></li>
            <li><a href="#india" data-toggle="tab">India</a></li>
            <li><a href="#oman" data-toggle="tab">Oman</a></li>
            <li><a href="#uae" data-toggle="tab">UAE</a></li>
          </ul>
      </div>
      <div class="col-xs-10">
            <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="qatar">
            <div class="row">
              <div class="col-sm-6">
                <h3>Qatar</h3>
                    <p><h3>ChemTech</h3> <br>
                        12, Aziziya Commercial Building, <br>
                        Al Azizya, <br>
                        Doha<br>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://00974. 44 65 1234">00974. 44 65 1234</a>
                    </p>
              </div>
            </div>
            <div class="row">
              <div id="1" class="col-sm-6">
                  <div class="row">
                    <h3>Business Development Mangaer</h3>
                    <p><h4> Surej</h4><br>
                            <a href="tel:30074008;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:44627333;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:surej@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales Manager </h3>
                      <p><h4> Mohammed Ali</h4><br>
                            <a href="tel:+00974 44627311;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211011;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:mohammed.ali@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:mohammed.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                    <div class="row">
                      <h3>Sales manager Industrial Chemical</h3>
                      <p><h4> Habtom</h4><br>
                            <a href="tel:+00974 44627321;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211021;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:tom@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:tom.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                    <div class="row">
                      <h3>Sales Manager (Medial Related)</h3>
                      <p><h4>Riyas</h4><br>
                            <a href="tel:+00974 44627370;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211008;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:rr@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:#?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                      </div>
                      <div class="row">
                      <h3>Disposal</h3>
                        <p><h4>Ram Kumar</h4><br>
                              <a href="#;">
                               <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                                &nbsp; 
                              </a>&nbsp;
                              <a href="tel:+00974 30211003;">
                                <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                                &nbsp;
                              </a>&nbsp;
                              <a href="mailto:disposal@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                &nbsp; 
                              </a>&nbsp;
                              <a href="skype:ram.chemtech1?chat">
                                 <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                &nbsp;
                              </a>  
                          </p>
                      </div>  
                      <div class="row">
                        <h3>Sales Support</h3>
                        <p><h4>Dona</h4><br>
                              <a href="tel:+00974 44627340;">
                               <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                                &nbsp; 
                              </a>&nbsp;
                              <a href="#">
                                <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                                &nbsp;
                              </a>&nbsp;
                              <a href="mailto:ak@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                                &nbsp; 
                              </a>&nbsp;
                              <a href="skype:nh@chemma.com?chat">
                                 <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                                &nbsp;
                              </a>  
                          </p>
                      </div> 
                  </div>
                  <div id="1" class="col-sm-6">
                    <div class="row"> 
                      <h3>Chief Accountant</h3>
                      <p><h4>Radhika</h4><br>
                            <a href="tel:+00974 44627339;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:accounts@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:radhika.hari9?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>  
                    <div class="row">
                      <h3>Sales Support</h3>
                      <p><h4>Shaima</h4><br>
                            <a href="tel:+00974 44627338;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:an@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row"> 
                      <h3>Sales Support</h3>
                      <p><h4>Jyotsana</h4><br>
                            <a href="tel:+00974 44627347;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row"> 
                      <h3>Procurement  Manager</h3>
                      <p><h4>Faraz</h4><br>
                            <a href="tel:+00974 44627304;">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:procurement@chemma.com">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:faraz_chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Transport Division</h3>
                      <p><h4>Keshav Giri</h4><br>
                            <a href="#">
                             <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="#">
                             <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                  </div>
                </div>

            </div>
            <div class="tab-pane" id="india">
              <div class="row">
                <div class="col-sm-6">
                  <h3>India</h3>
                  <p><h3>ChemTech</h3> <br>
                      310, Nehru Palace Building, <br>
                      Bank junction, <br>
                      Aluva, <br>
                      Kerala<br>
                      <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://0484 2985555">0484 29855554</a> </p>
                </div>
              </div>
              <div class="row">
                <div id="1" class="col-sm-6">
                  <div class="row">
                    <h3>Business Development Manager - Qatar</h3>
                    <p><h4>Surej</h4><br>
                            <a href="tel:484-2985555;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8330078910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:ak@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>
                  <div class="row">
                      <h3>Business Development Manager -UAE</h3>
                      <p><h4>Sherif</h4><br>
                            <a href="#">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="sherif@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="#">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>
                  <div class="row">
                      <h3>Sales Manager Industrial Chemical</h3>
                      <p><h4>Dona</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9400978910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:an@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div> 
                  <div class="row">
                      <h3> </h3>
                      <p><h4>Akshay</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9497080910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:aj@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:aj_3376?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>   
                </div>
                <div id="1" class="col-sm-6">
                  <div class="row">
                      <h3>Chief Accountant</h3>
                      <p><h4>Radhika</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8547080910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:accounts@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:radhika.hari9?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>
                  <div class="row">
                      <h3>Sales Manager Lab Chemical</h3>
                      <p><h4>Shaima</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8078981696;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>
                  <div class="row">
                      <h3>Medical Related Items</h3>
                      <p><h4>Jyotsana</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9846462200;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                  </div>
                </div>
              </div>
            </div>

            <!--- -->
            <div class="tab-pane" id="oman">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Oman</h3>
                  <p><h3>ChemTech- MPES LLC </h3><br>
                      Plot No. 24, <br>
                      Block No. 252, <br>
                      Steet No.61, Ghala Industrial Area, <br>
                      Muscat<br>
                      <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://968 2450 3385">968 2450 3385</a>
                  </p>
                </div>
              </div>
              <div class="row">
                <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Manager</h3>
                      <p><h4>Anju</h4><br>
                            <a href="tel:484-2985555;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8330078910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:om@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales Manager Industrial Chemical</h3>
                      <p><h4>Dona</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9400978910;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:nh@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                  </div>
                  <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Sales Manager Lab Chemical</h3>
                      <p><h4>Shaima</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8078981696;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Medical Related Items</h3>
                      <p><h4>Jyotsana</h4><br>
                            <a href="tel:0484 298 4010;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9846462200;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="uae">
                <div class="row">
                  <div class="col-sm-6">   
                    <h3>UAE</h3>
                    <p><h3>ChemTech </h3><br>
                        21-10, Aspin Tower, <br>
                        Sheikh Zayed Road, <br>
                        Dubai<br>
                        <i class="fa fa-phone" aria-hidden="true"></i><a href="tel://00971.4.269 0770">00971.4.269 0770</a> 
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Manager</h3>
                      <p><h4>Sherif Mohammad</h4><br>
                            <a href="tel:4269 0770 ext 345;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:562102665;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:sherif@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:sherif.chemtech?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales & Marketing Manager</h3>
                      <p><h4>Shibu</h4><br>
                            <a href="tel:4269 0770 ext 344;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:562107558;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:sn@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:7da63a4fdc8b3b5e?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                  </div>
                  <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Sales & Marketing Manager</h3>
                      <p><h4>Biru Rai</h4><br>
                            <a href="tel:4269 0770 ext 342;">
                              <img src="/assets/shopchemical/images/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:561875007;">
                              <img src="/assets/shopchemical/images/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:br@chemma.com">
                               <img src="/assets/shopchemical/images/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:biru.rai04?chat">
                               <img src="/assets/shopchemical/images/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="clearfix"></div>
    