{% extends "templates/web.html" %}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">

<!-- {% block title %} {{ _("Product Search") }} {% endblock %} -->

{% block header %}<h2>{{ _("") }}</h2>{% endblock %}

{% block page_content %}
<script>{% include "templates/includes/qa_product_list.js" %}</script>
<style>
div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 350px !important;
    border-color: #70a340 !important;
}
thead tr th{ 
	background-color: #70a340 !important;
	color: White !important; 
}
#example_length{
	display: none;
}
div.dataTables_filter {
    text-align: left !important;
}
</style>
<script>
frappe.ready(function() {
	var txt = get_url_arg("search");
	$(".item-search").hide();
	$(".search-results").html("{{ _('Product Search results for') }}: " + encodeURIComponent(txt));
	window.search = txt;
	window.start = 0;
	window.item_group = get_url_arg("item_group");
	window.brand = get_url_arg("brand");
	window.get_product_list();

});

</script>



<div class="product-search-content">
	<div class="row">
		<div class="col-sm-5">	
			<i>Search using Product Name, Item Group, Brand or Price.</i></p>
		</div>
	</div>
    <!-- <h3 class="search-results">{{ _("Search Results") }}</h3> -->
<!-- 
		<table class="table"><a class="product-link product-list-link" href="/products/industrial/acetone-ind-grade-200-litres-drum">
		<div class="row">
			<a class="product-link product-list-link" href="">
		<div class="row">
		<div class="col-sm-2">Product Name</div>
		<div class="col-sm-2">	
			Brand
		</div>
		<div class="col-sm-2">	
			Item Group
		</div>
		<div class="col-sm-2">Available Stock</div>
		<div class="col-sm-2">-</div>


		<div class="col-sm-2">
			Price
		</div>
		</div>
	</a></table> -->


	<div id="search-list" class="row">

	</div>
	<div style="text-align: center;">
		<div class="more-btn"
			style="display: none; text-align: center;">
            <button class="btn btn-default">{{ _("More...") }}</button>
		</div>
	</div>
</div>
{% endblock %}
